.bottom {
    width: 100%;
    height: 80px;
    position: absolute;
    bottom: 0;
    margin: auto;
}

.bg-gray {
    background: rgb(208, 208, 225,0.4);
}

.center {
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 50%;
    margin: auto;
}

h2 a {
    transition: 1s;
}

h2 a:hover {
    text-decoration: none;
    font-size: 45px;
    transition: 1s;
}
.landing {
    background-image: url('../images/pexels-photo.jpeg');
    background-size: cover;
    background-attachment: fixed;
    height: 650px;
    width: 100%;
    margin: auto;
    position: relative;
}

.large-button
{
    height: 300px;
    background: rgba(230, 255, 255, 0.3);
    border-radius: 15px;
    width: 25%;
    position: relative;
    transition: 0.5s;
    cursor:pointer; 
    cursor: hand;
}

.large-button:hover {
    background: rgba(230, 255, 255, 0.7);
    transition: ease 1s;
}

.main {
    background-image: url('../images/airplane.png');
    background-size: cover;
    height: 650px;
    width: 100%;
    margin: auto;
    position: absolute;
}

.medium-font {
    font-size: 5vw;
}

.navbar {
    background: rgba(230, 255, 255, 0.3);
}

.boton-crear {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: blue;
}

.boton-crear-wrapper {
    z-index: 10;
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 10px;
}

.form-viajero {
    width: 100%;
    height: 450px;
}


.form-viajero form {
    width: 50%;
}

.form-viajero input {
    margin: 10px 0px 10px 0px;
    width: 100%;
    border-radius: 5px;
    padding: 0;
}

.form-text {
    font-size: 20px;
    padding: 10px;
}

.tabla {
    width: 85%;
    margin: auto;
    overflow-y: scroll;
    max-height: 450px;
}


